<h1 class="text-center main-text">
  Quapenus
</h1>
<hr class="my-1">
<div class="container">
  <div class="col-md-3 col-md-offset-1 text-center">
    <span class="glyphicon glyphicon-headphones headset"></span>
    <h3>스트리밍</h3>
    <span>자신만의 음원을 스트리밍 할 수 있게 하였습니다. 회원가입 후 게시물 작성하실 수 있습니다.</span>
  </div>
  <div class="col-md-3 col-md-offset-1 text-center">
      <span class="glyphicon glyphicon-play headset"></span>
      <h3>구현 기능</h3>
    <span>회원가입 / 로그인 / 이미지 업로드 / 음원 업로드</span>
  </div>
  <div class="col-md-3 col-md-offset-1 text-center">
      <span class="glyphicon glyphicon-heart-empty headset"></span>
      <h3>사용된 기술</h3>
    <span>javascript / html / css / angular / webpack / node.js / bootstrap / aws</span>
  </div>
</div>
<div class="row-image">
  <div>
    <img src="https://s3.ap-northeast-2.amazonaws.com/quapenus/home_carousel/concert.jpg" alt="concert-image" class="concert-image">
  </div>
</div>