<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-8">
      <form class="form-group" [formGroup]="formModel" (ngSubmit)="onSubmit()">
        <h2 class="text-center">Song</h2>
        <hr class="my-1">
        <label for="title">Title:</label>
        <input type="text" class="form-control" id="title" formControlName="title">
        <label for="comment">Comment:</label>
        <textarea name="comment" id="comment" rows="8" cols="50" class="form-control"
          formControlName="comment"></textarea>

        <div class="row">
          <div class="col-md-5">
            <div class="form-group file-uploader">
              <label for="single">Cover</label>
              <input type="file" name="single" class="form-control" ng2FileSelect [uploader]="uploader"
                name="userfile" />
            </div>
            <p>파일 선택을 누르신 후 등록하시면 앨범 커버 사진을 등록할 수 있습니다!</p>
          </div>
          <div class="col-md-5">
            <div class="progress">
              <div class="progress-bar" role="progressbar" name="progress"
                  [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
            </div>
          </div>
        </div>
          
          <div class="row">
            <div class="col-md-5">
              <div class="form-group file-uploader">
                <label for="song">Song</label>
                <input type="file" name="song" class="form-control" ng2FileSelect [uploader]="songUploader" />
              </div>
              <p>자신의 음원을 업로드 하세요!</p>
            </div>
            <div class="col-md-5">
            <div class="progress">
              <div class="progress-bar" role="progressbar" name="progress"
                  [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
              </div>
            </div>
          </div>

          <div class="button">
            <input type="submit" value="Submit" class="btn btn-success pull-right">
            <button type="button" name="button"
                    (click)="btnCancel()" class="btn btn-danger pull-right">Cancel</button>
          </div>
      </form>
    </div>
  </div>
</div>