.button {
    margin-top: 4.5rem;
}

.btn-danger {
    margin-right: 1rem;
}

.container {
    margin-bottom: 5rem;
}

.file-uploader {
    margin-top: 4rem;
}

.progress {
    margin-top: 7rem;
}
